In [130]:
import numpy as np 
import pandas as pd  
import matplotlib.pyplot as plt 
import seaborn as sns

In [131]:
from sklearn.datasets import load_iris 
iris = load_iris() 
type(iris)

sklearn.utils._bunch.Bunch

In [132]:
df = pd.DataFrame(data=iris.data, columns=iris.feature_names)
df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [133]:
df['label'] = iris.target 
df['species'] = iris.target_names[iris.target]
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label,species
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2,virginica
146,6.3,2.5,5.0,1.9,2,virginica
147,6.5,3.0,5.2,2.0,2,virginica
148,6.2,3.4,5.4,2.3,2,virginica
149,5.9,3.0,5.1,1.8,2,virginica

In [ ]:
fig = plt.figure(figsize=(8,6))

ax1 = fig.add_subplot(221)
sns.boxplot(x='species', y=df.columns[0], data=df)

ax2 = fig.add_subplot(222)
sns.boxplot(x='species', y=df.columns[1], data=df)

ax3 = fig.add_subplot(223)
sns.boxplot(x='species', y=df.columns[2], data=df)

ax4 = fig.add_subplot(224)
sns.boxplot(x='species', y=df.columns[3], data=df)
plt.show()

In [134]:
df.drop('label', axis=1, inplace=True)
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica
146,6.3,2.5,5.0,1.9,virginica
147,6.5,3.0,5.2,2.0,virginica
148,6.2,3.4,5.4,2.3,virginica
149,5.9,3.0,5.1,1.8,virginica

In [ ]:
sns.pairplot(df[df.columns.to_list()], hue='species', data=df)
plt.show()

In [136]:
# 학습 
# 입력되는 data는 numpy array 형태
# Nodes, Edges, Leaf Nodes
from sklearn.model_selection import train_test_split 
from sklearn.tree import DecisionTreeClassifier 

data = df.to_numpy()[:,:4] # or df['sepal length (cm)','sepal width (cm)','petal length (cm)','petal width (cm)']
target = df.to_numpy()[:,-1]

x_train, x_test, y_train, y_test = train_test_split(df[['sepal length (cm)','sepal width (cm)','petal length (cm)','petal width (cm)']], df['species'], test_size=0.25, random_state=5)

In [137]:
dt_clf = DecisionTreeClassifier(random_state=5)
dt_clf.fit(x_train, y_train)
y_pred = dt_clf.predict(x_test)

In [138]:
# 평가 
from sklearn.metrics import accuracy_score 
print('score: {0:4f}'.format(accuracy_score(y_test, y_pred)))

score: 0.947368

In [139]:
label = dt_clf.predict([[4.4, 2.9, 1.4, 0.2]])
label

array(['setosa'], dtype=object)

In [ ]:
from sklearn.tree import export_graphviz
import graphviz

export_graphviz(dt_clf, out_file='tree.dot', class_names=iris_data.target_names, feature_names = iris_data.feature_names, impurity=True, filled=True)

# 위에서 생성된 tree.dot 파일을 Graphviz 읽어서 Jupyter Notebook상에서 시각화 
with open("tree.dot") as f:
    dot_graph = f.read()
graphviz.Source(dot_graph)

In [ ]:
import joblib 
joblib.dump(dt_clf, '붓꽃.pkl')

In [ ]:
# joblib 불러오기 
dt_clf2 = joblib.load('붓꽃.pkl')
label = dt_clf2.predict([[4.1, 3.0, 1.5, 0.2]])
label