In [65]:
import numpy as np 
import pandas as pd  
import matplotlib.pyplot as plt 
import seaborn as sns

In [66]:
df = pd.read_csv(r'C:\labs\src\datasets\basketball.csv')
df.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Precious Achiuwa,PF,21,MIA,61,4,12.1,2.0,3.7,...,0.509,1.2,2.2,3.4,0.5,0.3,0.5,0.7,1.5,5.0
1,2,Jaylen Adams,PG,24,MIL,7,0,2.6,0.1,1.1,...,NaN,0.0,0.4,0.4,0.3,0.0,0.0,0.0,0.1,0.3
2,3,Steven Adams,C,27,NOP,58,58,27.7,3.3,5.3,...,0.444,3.7,5.2,8.9,1.9,0.9,0.7,1.3,1.9,7.6
3,4,Bam Adebayo,C,23,MIA,64,64,33.5,7.1,12.5,...,0.799,2.2,6.7,9.0,5.4,1.2,1.0,2.6,2.3,18.7
4,5,LaMarcus Aldridge,C,35,TOT,26,23,25.9,5.4,11.4,...,0.872,0.7,3.8,4.5,1.9,0.4,1.1,1.0,1.8,13.5

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rk      500 non-null    int64
 1   Player  500 non-null    object
 2   Pos     500 non-null    object
 3   Age     500 non-null    int64
 4   Tm      500 non-null    object
 5   G       500 non-null    int64
 6   GS      500 non-null    int64
 7   MP      500 non-null    float64
 8   FG      500 non-null    float64
 9   FGA     500 non-null    float64
 10  FG%     498 non-null    float64
 11  3P      500 non-null    float64
 12  3PA     500 non-null    float64
 13  3P%     473 non-null    float64
 14  2P      500 non-null    float64
 15  2PA     500 non-null    float64
 16  2P%     495 non-null    float64
 17  eFG%    498 non-null    float64
 18  FT      500 non-null    float64
 19  FTA     500 non-null    float64
 20  FT%     483 non-null    float64
 21  ORB     500 non-null    float64
 22  DRB     500 non-null    float64
 23  TRB     500 non-null    float64
 24  AST     500 non-null    float64
 25  STL     500 non-null    float64
 26  BLK     500 non-null    float64
 27  TOV     500 non-null    float64
 28  PF      500 non-null    float64
 29  PTS     500 non-null    float64
dtypes: float64(23), int64(4), object(3)
memory usage: 117.3+ KB

In [68]:
df.isnull().sum()/len(df)

Rk        0.000
Player    0.000
Pos       0.000
Age       0.000
Tm        0.000
G         0.000
GS        0.000
MP        0.000
FG        0.000
FGA       0.000
FG%       0.004
3P        0.000
3PA       0.000
3P%       0.054
2P        0.000
2PA       0.000
2P%       0.010
eFG%      0.004
FT        0.000
FTA       0.000
FT%       0.034
ORB       0.000
DRB       0.000
TRB       0.000
AST       0.000
STL       0.000
BLK       0.000
TOV       0.000
PF        0.000
PTS       0.000
dtype: float64

In [69]:
df_data = df[['Pos', 'TRB', 'BLK', '3P', 'AST']]
df_data

      Pos  TRB  BLK   3P  AST
0      PF  3.4  0.5  0.0  0.5
1      PG  0.4  0.0  0.0  0.3
2       C  8.9  0.7  0.0  1.9
3       C  9.0  1.0  0.0  5.4
4       C  4.5  1.1  1.2  1.9
..    ...  ...  ...  ...  ...
495    SF  5.3  1.0  1.0  1.3
496  C-PF  7.0  0.6  1.8  2.9
497     C  6.1  0.6  1.8  2.1
498    PF  8.4  0.6  1.8  4.1
499    SG  1.6  0.1  0.6  0.5

[500 rows x 5 columns]

In [70]:
df_data.isnull().sum()/len(df_data)

Pos    0.0
TRB    0.0
BLK    0.0
3P     0.0
AST    0.0
dtype: float64

In [71]:
df_data['Pos'].value_counts()

SG       112
C         98
PF        96
SF        96
PG        85
SF-PF      3
SF-SG      2
SG-PG      2
C-PF       2
SG-SF      1
PF-C       1
PG-SG      1
PF-SF      1
Name: Pos, dtype: int64

In [72]:
df_data = df_data.loc[df_data['Pos'].isin(['C', 'PG', 'SG'])]
df_data

    Pos  TRB  BLK   3P  AST
1    PG  0.4  0.0  0.0  0.3
2     C  8.9  0.7  0.0  1.9
3     C  9.0  1.0  0.0  5.4
4     C  4.5  1.1  1.2  1.9
5     C  4.5  0.9  1.3  1.7
..   ..  ...  ...  ...  ...
492  SG  5.7  0.2  2.8  4.2
493  SG  4.8  0.5  2.5  5.0
494  SG  3.5  0.5  1.0  3.5
497   C  6.1  0.6  1.8  2.1
499  SG  1.6  0.1  0.6  0.5

[295 rows x 5 columns]

In [73]:
df_data.loc[df_data['Pos'].isin(['PG', 'SG']), 'Pos'] = 'G'
df_data['Pos'].value_counts()

G    197
C     98
Name: Pos, dtype: int64

In [74]:
from sklearn.model_selection import train_test_split 
y_df = df_data[['Pos']]
x_df = df_data[['TRB', 'AST']]
y_df.values[:5] # more...

array([['G'],
       ['C'],
       ['C'],
       ['C'],
       ['C']], dtype=object)

In [75]:
x_train, x_test, y_train, y_test = train_test_split(x_df, y_df, test_size=0.25, random_state=15)
type(x_train)

pandas.core.frame.DataFrame

In [76]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_score 

k_values = range(3, len(x_train)//2, 2) # k should be odd number
# k_values = [2*i+1 for i in range(1, len(x_train))]
k_values
cv_scores = []

In [77]:
for k in k_values:
    knn = KNeighborsClassifier(n_neighbors=k)
    scores = cross_val_score(knn, x_train, y_train, cv=10, scoring='accuracy')
    cv_scores.append(scores.mean())
cv_scores

[0.9051383399209485,
 0.9233201581027668,
 0.9185770750988143,
 0.9140316205533597,
 0.9142292490118578,
 0.9187747035573123,
 0.9233201581027668,
 0.9187747035573123,
 0.9096837944664034,
 0.9051383399209486,
 0.9096837944664031,
 0.9096837944664031,
 0.9142292490118578,
 0.9185770750988143,
 0.9049407114624506,
 0.9049407114624506,
 0.900395256916996,
 0.9049407114624506,
 0.8958498023715414,
 0.9049407114624506,
 0.8960474308300395,
 0.8913043478260869,
 0.8867588932806324,
 0.8867588932806324,
 0.8867588932806324,
 0.8867588932806324,
 0.8913043478260869,
 0.8867588932806324,
 0.8867588932806324,
 0.8822134387351779,
 0.8913043478260869,
 0.8869565217391303,
 0.8869565217391303,
 0.882411067193676,
 0.882411067193676,
 0.882411067193676,
 0.8733201581027668,
 0.8642292490118576,
 0.8733201581027668,
 0.8687747035573123,
 0.8642292490118576,
 0.8687747035573123,
 0.8551383399209487,
 0.8551383399209487,
 0.8594861660079051,
 0.8503952569169961,
 0.8413043478260869,
 0.832213438735178,
 0.8276679841897234,
 0.8231225296442688,
 0.8053359683794467,
 0.791699604743083,
 0.7782608695652173,
 0.7646245059288538]

In [ ]:
sns.lineplot(x=k_values, y=cv_scores)
plt.show()

In [40]:
max_idx = np.argmax(cv_scores)
k = k_values[max_idx]
k

5

In [43]:
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(x_train, y_train)

KNeighborsClassifier()

In [52]:
y_pred = knn.predict(x_test)
y_pred

array(['C', 'G', 'G', 'C', 'G', 'G', 'C', 'G', 'G', 'G', 'G', 'G', 'G',
       'G', 'G', 'G', 'G', 'G', 'C', 'C', 'G', 'C', 'G', 'G', 'G', 'C',
       'C', 'G', 'G', 'G', 'G', 'G', 'G', 'G', 'G', 'G', 'G', 'G', 'G',
       'C', 'G', 'G', 'G', 'G', 'C', 'G', 'G', 'G', 'G', 'C', 'G', 'G',
       'G', 'C', 'G', 'G', 'C', 'G', 'G', 'G', 'G', 'G', 'G', 'C', 'G',
       'G', 'C', 'C', 'C', 'G', 'G', 'G', 'G', 'C'], dtype=object)

In [57]:
y_pred.shape

(74,)

In [61]:
y_test.values.ravel()

array(['G', 'G', 'G', 'C', 'C', 'G', 'C', 'G', 'G', 'G', 'G', 'G', 'G',
       'G', 'G', 'G', 'G', 'G', 'G', 'C', 'G', 'C', 'G', 'C', 'G', 'G',
       'C', 'G', 'G', 'G', 'G', 'G', 'G', 'G', 'C', 'G', 'G', 'G', 'G',
       'C', 'G', 'G', 'G', 'G', 'C', 'G', 'G', 'G', 'G', 'C', 'G', 'G',
       'G', 'C', 'G', 'G', 'C', 'G', 'G', 'G', 'G', 'G', 'G', 'C', 'G',
       'G', 'G', 'C', 'C', 'G', 'C', 'C', 'G', 'G'], dtype=object)

In [64]:
print('í…ŒìŠ¤íŠ¸ ì…‹ ê´€ì¸¡ ìˆ˜ : ', y_test.shape[0])
print('ì˜¤ë¶„ë¥˜ ê´€ì¸¡ ìˆ˜ : ', sum(knn.predict(x_test) != y_test.values.ravel()))

í…ŒìŠ¤íŠ¸ ì…‹ ê´€ì¸¡ ìˆ˜ :  74
ì˜¤ë¶„ë¥˜ ê´€ì¸¡ ìˆ˜ :  10