In [144]:
import numpy as np 
import pandas as pd  
import matplotlib.pyplot as plt 
import seaborn as sns

In [145]:
df = pd.read_csv(r'C:\labs\src\datasets\seaborn-data\titanic.csv')
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [146]:
df.shape, df.info(), df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    object
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    object
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), float64(2), int64(4), object(7)
memory usage: 92.4+ KB

((891, 15),
 None,
          survived      pclass         age       sibsp       parch        fare
 count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
 mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
 std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
 min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
 25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
 50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
 75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
 max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200)

In [147]:
df['survived'].value_counts()

0    549
1    342
Name: survived, dtype: int64

In [148]:
df['family_size'] = df['sibsp'] + df['parch'] # sibsp : 형재 혹은 부부의 수 / parch : 부모 혹은 자녀의 수

In [149]:
df1 = df.drop(['sibsp','parch','fare','class','adult_male','embark_town','alive'], axis=1, inplace=False)
df1.head()

   survived  pclass     sex   age embarked    who deck  alone  family_size
0         0       3    male  22.0        S    man  NaN  False            1
1         1       1  female  38.0        C  woman    C  False            1
2         1       3  female  26.0        S  woman  NaN   True            0
3         1       1  female  35.0        S  woman    C  False            1
4         0       3    male  35.0        S    man  NaN   True            0

In [150]:
df1.isnull().sum()/len(df)

survived       0.000000
pclass         0.000000
sex            0.000000
age            0.198653
embarked       0.002245
who            0.000000
deck           0.772166
alone          0.000000
family_size    0.000000
dtype: float64

In [ ]:
fig = plt.figure(figsize=(6,3))
ax = fig.add_subplot(111)
sns.heatmap(df1.isnull())
plt.show()

In [151]:
df1['deck'].fillna('Nan_data', inplace=True)
df1
groupby_count = df1.groupby(df1['deck']).count()
groupby_sum = df1.groupby(df1['deck']).sum()
groupby_sum['survived_rate'] = groupby_sum['survived'] / groupby_count['survived']
groupby_sum
# when deck is not missing, the survived rate is much higher than when deck data is missing

          survived  pclass       age  alone  family_size  survived_rate
deck
A                7      15    538.00     12            4       0.466667
B               35      47   1573.00     22           44       0.744681
C               35      59   1840.42     22           66       0.593220
D               25      37   1210.00     13           24       0.757576
E               24      42   1143.50     17           20       0.750000
F                8      31    219.50      7           14       0.615385
G                2      12     59.00      0            7       0.500000
Nan_data       206    1814  14621.75    444          627       0.299419

In [ ]:
bins = [5*i for i in range(20)]
kws = {'edgecolor':'black', 'linewidth':'2'}

sns.distplot(df1[df1['sex']=='male']['age'], color='blue', bins=bins, hist_kws=kws, label='male')
sns.distplot(df1[df1['sex']=='female']['age'], color='red', bins=bins, hist_kws=kws, label='female')
plt.legend()
plt.show()

In [152]:
# age,embarked의 missing data에 중앙 값, 최빈 값을 추가

df1['age'] = df1['age'].fillna(df1['age'].median()) 
df1['embarked'] = df1['embarked'].fillna(df1['embarked'].mode()[0]) 
df1.isnull().sum()/len(df1)

survived       0.0
pclass         0.0
sex            0.0
age            0.0
embarked       0.0
who            0.0
deck           0.0
alone          0.0
family_size    0.0
dtype: float64

In [ ]:
def plot_row(src, ref, col_list):
    for index, value in enumerate(col_list):
        plt.subplot(1, len(col_list), index+1)
        sns.countplot(x=value, hue=ref, data=src)
        plt.title(value)
    plt.tight_layout()
    plt.show()

In [ ]:
plt.figure(figsize=(15,3))
plot_row(df1, 'survived', ['pclass', 'sex', 'age', 'embarked'])

In [ ]:
plt.figure(figsize=(15,3))
plot_row(df1, 'survived', ['who', 'alone', 'family_size', 'deck'])

In [153]:
# 범주형 처리1 
labels, unique = pd.factorize(df1['sex'])
df1['sex'] = labels 
df1['sex'].value_counts()

0    577
1    314
Name: sex, dtype: int64

In [154]:
# 범주형 처리2 
labels, unique = pd.factorize(df1['embarked'])
df1['embarked'] = labels
df1['embarked'].value_counts()

0    646
1    168
2     77
Name: embarked, dtype: int64

In [155]:
# 범주형 처리3
labels, unique = pd.factorize(df1['who'])
df1['who'] = labels
df1['who'].value_counts()

0    537
1    271
2     83
Name: who, dtype: int64

In [156]:
# 범주형 처리4
labels, unique = pd.factorize(df1['alone'])
df1['alone'] = labels
df1['alone'].value_counts()

1    537
0    354
Name: alone, dtype: int64

In [157]:
# data 타입 변경
df1['age'] = df1['age'].astype(int)
df1.drop(['deck'], axis=1, inplace=True)
df1

     survived  pclass  sex  age  embarked  who  alone  family_size
0           0       3    0   22         0    0      0            1
1           1       1    1   38         1    1      0            1
2           1       3    1   26         0    1      1            0
3           1       1    1   35         0    1      0            1
4           0       3    0   35         0    0      1            0
..        ...     ...  ...  ...       ...  ...    ...          ...
886         0       2    0   27         0    0      1            0
887         1       1    1   19         0    1      1            0
888         0       3    1   28         0    1      0            3
889         1       1    0   26         1    0      1            0
890         0       3    0   32         2    0      1            0

[891 rows x 8 columns]

In [158]:
# 학습
from sklearn.model_selection import train_test_split 

y_df = df1['survived']
x_df = df1.drop(['survived'], axis=1)

x_train, x_test, y_train, y_test = train_test_split(x_df, y_df, test_size=0.25, random_state=5)

In [159]:
# 호지스틱 회귀
from sklearn.linear_model import LogisticRegression 
lr = LogisticRegression(random_state=15)
lr.fit(x_train, y_train)
lr_y_pred = lr.predict(x_test)
lr_y_pred

array([0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0,
       0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1], dtype=int64)

In [160]:
# 평가 
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, lr_y_pred))
print(accuracy_score(lr_y_pred, y_test))

0.8430493273542601
0.8430493273542601

In [161]:
lr.score(x_test, y_test)

0.8430493273542601

In [162]:
print('테스트 셋 관측 수 : ', y_test.shape[0])
print('오분류 관측 수 : ', sum(lr.predict(x_test) != y_test))

테스트 셋 관측 수 :  223
오분류 관측 수 :  35

In [163]:
# 예측 확률 반환
lr.predict_proba(x_test)[:3] # more.....

array([[0.86834406, 0.13165594],
       [0.89513474, 0.10486526],
       [0.92551434, 0.07448566]])

In [164]:
# Attributes (속성)
print('classes:', lr.classes_)
print('beta:', lr.coef_)
print('intercept:', lr.intercept_)

classes: [0 1]
beta: [[-1.06173319  1.62013784 -0.01679187  0.25790195  1.13157741 -0.47209086
  -0.45177897]]
intercept: [1.72526284]

In [ ]:
# Methods 
# fit(X,y)
# predict(X)
# score(X,y) : accuracy 값 반환 
# decision_function(X) : 클래스 레비을 예측의 확신 점수 / 각 클래스의 분류 초평면으로부터 떨어진 거리 
# predict_proba(X)

In [ ]:
lr.decision_function(x_test)